<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijinchao.mapper.PaperAuditMapper">

    <resultMap id="BaseResultMap" type="com.lijinchao.entity.PaperAudit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="auditCode" column="audit_code" jdbcType="VARCHAR"/>
            <result property="feedback" column="feedback" jdbcType="VARCHAR"/>
            <result property="statusCd" column="status_cd" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createStaff" column="create_staff" jdbcType="BIGINT"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="updateStaff" column="update_staff" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,paper_id,
        audit_code,feedback,status_cd,
        create_date,create_staff,update_date,
        update_staff,is_deleted
    </sql>
</mapper>
